trunk/Client/Service References/BusinessService/BusinessLayer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="Class" nillable="true" type="tns:IdName" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRoleData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="IdName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdName" nillable="true" type="tns:IdName" />
  <xs:complexType name="ArrayOfRoleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleData" nillable="true" type="tns:RoleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleData" nillable="true" type="tns:ArrayOfRoleData" />
  <xs:complexType name="RoleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Role" type="tns:RoleData.RoleType" />
      <xs:element minOccurs="0" name="TargetId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleData" nillable="true" type="tns:RoleData" />
  <xs:simpleType name="RoleData.RoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Administrator" />
      <xs:enumeration value="CampusManager" />
      <xs:enumeration value="Speaker" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RoleData.RoleType" nillable="true" type="tns:RoleData.RoleType" />
  <xs:complexType name="ClassData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="Campus" nillable="true" type="tns:IdName" />
          <xs:element minOccurs="0" name="Period" nillable="true" type="tns:IdName" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClassData" nillable="true" type="tns:ClassData" />
  <xs:complexType name="PeriodData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="End" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Promotion" nillable="true" type="tns:IdName" />
          <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PeriodData" nillable="true" type="tns:PeriodData" />
  <xs:complexType name="ArrayOfEventData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventData" nillable="true" type="tns:EventData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventData" nillable="true" type="tns:ArrayOfEventData" />
  <xs:complexType name="EventData">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="tns:IdName" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentPlanning" nillable="true" type="tns:IdName" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speaker" nillable="true" type="tns:IdName" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="tns:IdName" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:EventData.TypeEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventData" nillable="true" type="tns:EventData" />
  <xs:simpleType name="EventData.TypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="University" />
      <xs:enumeration value="Campus" />
      <xs:enumeration value="Period" />
      <xs:enumeration value="Class" />
      <xs:enumeration value="User" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EventData.TypeEnum" nillable="true" type="tns:EventData.TypeEnum" />
  <xs:complexType name="ArrayOfIdName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdName" nillable="true" type="tns:IdName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdName" nillable="true" type="tns:ArrayOfIdName" />
  <xs:complexType name="ArrayOfSubjectData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubjectData" nillable="true" type="tns:SubjectData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubjectData" nillable="true" type="tns:ArrayOfSubjectData" />
  <xs:complexType name="SubjectData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="Modalities" nillable="true" type="tns:ArrayOfModalityData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubjectData" nillable="true" type="tns:SubjectData" />
  <xs:complexType name="ArrayOfModalityData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModalityData" nillable="true" type="tns:ModalityData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModalityData" nillable="true" type="tns:ArrayOfModalityData" />
  <xs:complexType name="ModalityData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdName">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hours" type="xs:int" />
          <xs:element minOccurs="0" name="SubjectId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModalityData" nillable="true" type="tns:ModalityData" />
</xs:schema>