Client/Service References/BusinessLayer/BusinessLayer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2900/BusinessLayer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer" />
  <xs:import schemaLocation="http://localhost:2900/BusinessLayer.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getEventsByCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByCampusResult" nillable="true" type="q1:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByUniversity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByUniversityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByUniversityResult" nillable="true" type="q2:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PeriodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByPeriodResult" nillable="true" type="q3:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByClassResult" nillable="true" type="q4:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrivateEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrivateEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getPrivateEventsResult" nillable="true" type="q5:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCampusNamesResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClassesNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClassesNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getClassesNamesResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPromotionsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPromotionsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getPromotionsNamesResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getPeriodsNamesResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSubjectsNamesResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUsersNamesResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEventsTypesResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusPeriodClassTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusPeriodClassTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCampusPeriodClassTreeResult" nillable="true" type="q13:ArrayOfKeyValueOfstringArrayOfKeyValueOfstringArrayOfstringty7Ep6D1ty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserClassName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCampusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromotionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPromotionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Hours" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSubjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PeriodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PromotionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PeriodEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grantNewRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grantNewRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grantNewRightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToCampusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToPeriode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToPeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToPeriodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUniversity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUniversityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToUniversityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>