Client/Service References/BusinessLayer/BusinessService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2900/BusinessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer" />
  <xs:import schemaLocation="http://localhost:2900/BusinessService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2900/BusinessService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="addEventToPeriode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToPeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToPeriodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUniversity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUniversityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToUniversityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="UD" nillable="true" type="q1:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setCampusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="CD" nillable="true" type="q2:ClassData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="PromotionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setPromotionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="SD" nillable="true" type="q3:SubjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setSubjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="PD" nillable="true" type="q4:PeriodData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setPeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="EditedEvent" nillable="true" type="q5:EventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delCampusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delPromotionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delSubjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delPeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delRightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEventToCampusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToPeriode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToPeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEventToPeriodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEventToClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToUniversity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToUniversityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEventToUniversityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEventToUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEventToUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getUserResult" nillable="true" type="q6:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getClassResult" nillable="true" type="q7:ClassData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getPeriodResult" nillable="true" type="q8:PeriodData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getSubjectResult" nillable="true" type="q9:SubjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusId" type="xs:int" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByCampusResult" nillable="true" type="q10:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByUniversity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByUniversityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByUniversityResult" nillable="true" type="q11:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PeriodId" type="xs:int" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByPeriodResult" nillable="true" type="q12:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassId" type="xs:int" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getEventsByClassResult" nillable="true" type="q13:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrivateEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Stop" type="xs:dateTime" />
        <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrivateEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="getPrivateEventsResult" nillable="true" type="q14:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCampusNamesResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClassesNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClassesNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getClassesNamesResult" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPromotionsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPromotionsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getPromotionsNamesResult" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getPeriodsNamesResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubjectsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSubjectsNamesResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUsersNamesResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getModalities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getModalitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getModalitiesResult" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusPeriodClassTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampusPeriodClassTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCampusPeriodClassTreeResult" nillable="true" type="q22:ArrayOfKeyValueOfstringArrayOfKeyValueOfstringArrayOfstringty7Ep6D1ty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdCampusNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdCampusNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="getIdCampusNamesResult" nillable="true" type="q23:ArrayOfTupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdClassesNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdClassesNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="getIdClassesNamesResult" nillable="true" type="q24:ArrayOfTupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdPromotionsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdPromotionsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="getIdPromotionsNamesResult" nillable="true" type="q25:ArrayOfTupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdPeriodsNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdPeriodsNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="getIdPeriodsNamesResult" nillable="true" type="q26:ArrayOfTupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdSubjectsNamesModality">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdSubjectsNamesModalityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="getIdSubjectsNamesModalityResult" nillable="true" type="q27:ArrayOfTupleOfintstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdUsersNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdUsersNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="getIdUsersNamesResult" nillable="true" type="q28:ArrayOfTupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdCampusPeriodClassTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdCampusPeriodClassTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getIdCampusPeriodClassTreeResult" nillable="true" type="q29:ArrayOfKeyValueOfTupleOfintstringArrayOfKeyValueOfTupleOfintstringArrayOfTupleOfintstring_ShTDFhl_P2OQwrKDV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserClassName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCampusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromotionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPromotionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Hours" type="xs:int" />
        <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSubjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PeriodName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PromotionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PeriodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="PeriodEnd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPeriodResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grantNewRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="grantNewRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grantNewRightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToCampus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Mandatory" type="xs:boolean" />
        <xs:element minOccurs="0" name="SpeakerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampusName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventToCampusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventToCampusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>